<div class="container">
  <div class="row">
    <form>
      <div class="form-group">
        <label>Task Name</label>
        <input type="text"
               name="inputName"
               class="form-control"
               placeholder="Name"
               [(ngModel)]="taskName">
      </div>
      <button type="submit"
              class="btn btn-default"
              (click)="onCreateTask()">Add</button>
      <button type="submit"
              class="btn btn-default"
              (click)="onCreateTask()">Add from API</button>
    </form>
  </div>
</div>


